@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bourbon';

textarea.form-control {
  height: 400px;
}

pre.diffcode {
  span.diffline {
    background-color: #ffecec;
  }
}


pre.diffcode {
  span.diffness {
    width: 200px;
    background-color: #ffecec;
  }
}

.description {
  p {
    font-size: 16px;
  }
  li {
    font-size: 16px;
    margin-top: 5px;
  }

  ol.lev2 {
    margin-left: 0px;
  }
}
